.venv/

.idea/

backend/backend/settings.py

webfront/node_modules/

userinterface/node_modules/

userinterface/dist/

backend/medium/

backend/screenshot/

backend/Introduction/

backend/static/

chromedriver/

chrome/
